/* Hide the add to cart button and quantity field. */
button.single_add_to_cart_button {
    display:none !important;
}
form.cart div.quantity {
    display: none !important;
}

/* Overwrite some of the styles so that the customizer fits. */
#content {
    /* Need to be more specific (was breaking the homepage)
    width: 950px;
    */
}
#content .page, #content .page .entry-content {
    /* Need to be more specific (was breaking the homepage)
    margin: 0;
    padding: 0;
    */
}
