/* General MyStyle Style Rules */
h2.mystyle-admin-title,
h2.mytyle-admin-title /* typoed version (for backwards compatibilty with mystyle addons) */
{
    background-color: #2288CC;
    padding: 10px !important;
    border-left: 5px solid #12486C;
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    font-weight: bolder !important;
    margin-top: 35px !important;
    margin-bottom: 15px !important;
}

div#icon-options-general.icon100, /* for backwards compatibility */
span#mystyle-icon-general.icon100 {
    background: url( '../images/mystyle-logo-v2-100x100.png' );
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: -35px;
    margin-bottom: -26px;
    margin-left: -10px;
}

.mystyle-notice {
    border-left-color: #46b450;
    background: #fff;
    border-left: 4px solid #46b450;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 0 2px;
    padding: 1px 12px;
}
.mystyle-notice p {
    margin: 0.5em 0;
    padding: 2px;
}

/* MyStyle Toggle/Panel Rules */
.mystyle-toggle {
    cursor: pointer;
    white-space: nowrap;
    min-width: 130px;
}
.mystyle-toggle:hover {
    white-space: nowrap;
    min-width: 130px;
}
.mystyle-toggle-link {
    display: inline-block;
    height: 2em;
    float: left;
    width: 80px;
}
.mystyle-toggle-handle {
    font-family: inherit;
    color: red;
    display: inline-block;
    float: left;
    margin-left: 2em;
    width: 10px;
}
.mystyle-toggle-handle:after {
    font-family: dashicons;
    font-weight: 400;
    font-size: 20px;
    color: #a0a5aa;
    content: '\f140';
}
.mystyle-toggle-handle.mystyle-closed::after {content: '\f142';}
.mystyle-panel {clear: both;}


/* WooCommerce Product Admin Page */
#mystyle_product_data .mystyle-toggle {
    margin: 0 1em;
    padding: 0 1em;
    background-color: #efefef;
    overflow: hidden;
    height: 2em;
}
#mystyle_product_data .mystyle-toggle-link {
    line-height: 2;
}
#mystyle_product_data .mystyle-toggle-handle {
    line-height: 1.2;
    float: right;
}

/* WooCommerce Order Admin Page */
.mystyle-admin-box {
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    border-top: 5px solid #2288CC;
}

/* MyStyle Add-Ons Page */
.mystyle_page_mystyle_addons ul.products {
    overflow: hidden;
}
.mystyle_page_mystyle_addons ul.products li {
    width: 300px;
    float: left;
    margin-right: 1em;
}
.mystyle_page_mystyle_addons li a h3 {
    background: #fff none repeat scroll 0 0;
    margin: 0 !important;
    padding: 20px !important;
    color: #23282d;
    font-size: 1.3em;
    margin: 1em 0;
    border-bottom: 1px solid #f1f1f1;
}
.mystyle_page_mystyle_addons ul.products li a {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    text-decoration: none;
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
}
.mystyle_page_mystyle_addons ul.products li a:hover {
    background: #ffffff none repeat scroll 0 0;
}
.mystyle_page_mystyle_addons ul.products li a img, 
.mystyle_page_mystyle_addons ul.products li a p {
    margin: 1em;
}
.mystyle_page_mystyle_addons ul.products li a p {
    font-family: "Open Sans",sans-serif;
    color: #444;
    border-top: 1px solid #f1f1f1;
    margin-top: 0;
    padding-top: 1em;
    min-height: 8em;
}
.mystyle_page_mystyle_addons ul.products li img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
