
.tokenfield {
	border-style: solid !important;
	border-color: #ccc !important;
	width: 70%;
	min-height: 45px;
	padding: 3px;
	background-color: #ededed;
}

.tokenfield .token {
	height: 30px;
	background-color: #fff;
}

.tokenfield .token .close {
	text-decoration: none;
}

.edit-design-tags .button {
	float: left;
}

.edit-design-tags form {
	margin-bottom: 0;
}

.design-tag-status {
	height: 20px;
}
